<header class="header">
  <div class="header-content">
    <div class="logo">
      <img src="{{path_to_root}}logo.svg" alt="Logo" width="32" height="32">
    </div>
    <h1 class="title">{{title}}</h1>
  </div>
</header>
