<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{path_to_root}}style.css">
</head>
<body>
  {{> header}}
  <div class="container">
    <div class="sidebar">
      {{> sidebar}}
    </div>
    <div class="content">
      {{{content}}}
    </div>
  </div>
  <script src="{{path_to_root}}theme.js"></script>
</body>
</html>
